body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

dl {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-left: 5px solid #ABD7A8;
    text-align: center;
}

dt {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.5rem;
}

dd {
    margin-left: 20px;
    color: #333;
    font-size: 1.2rem;
}

.fout {
    background-color: red;
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 2em;
}

#geenBestellingen {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 2em;
    text-align: center;
    margin: 5em;

}

header {
    background-color: #ABD7A8;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


.logo {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}


main {
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 2em;
}


tr:nth-child(odd) {
    background-color: #ABD7A8;
}


main a {
    text-align: center;
}


.checked {
    text-decoration: line-through;
}

main div {
    display: inline;
    cursor: pointer;
}

main td:hover {
    background-color: #f5b02b;
}

button:disabled {
    background-color: #bab8b8;
}

button {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 8px 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8em;
    border-radius: 15px;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

input[type='checkbox']:checked {
    background: #3b3d46;
}

#nieuweBestellingBtn {
    font-size: 2em;
    margin-top: 0.5em;


    h1 {
        color: #ABD7A8;
    }


}